html{
    scroll-behavior:smooth;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    color:#111;
    background:#fff;
}

section{
    padding-top:100px;
}

.hero{
    height:100vh;
}

.hero h1{
    letter-spacing:-2px;
}

.skill-card{

    background:white;

    padding:30px;

    border:1px solid #e5e5e5;

    text-align:center;

    font-weight:bold;

    transition:.3s;
}

.skill-card:hover{

    transform:translateY(-5px);

    box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.project-card{

    border:1px solid #ececec;

    padding:20px;

    transition:.3s;

    background:white;

}

.project-card:hover{

    transform:translateY(-8px);

    box-shadow:0 15px 40px rgba(0,0,0,.08);

}

.project-image{

    height:180px;

    background:#efefef;

    margin-bottom:20px;

}

input,
textarea{

    border-radius:0 !important;

}

.btn{

    border-radius:0;

}

footer{

    border-top:1px solid #ececec;

}

.fade-up{

    opacity:0;

    transform:translateY(40px);

    transition:.7s;

}

.fade-up.show{

    opacity:1;

    transform:translateY(0);

}